@import "variables";

#footer {
  color: $primary-minus20;
  background-color: $primary-plus50;
  box-shadow: 3rem 0 3rem -1rem rgba($primary-plus50, 0.5), -3rem 0 3rem -1rem rgba($primary-plus50, 0.5);
  text-align: center;

  #address {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;

    #h4x0r {
      margin: 0 auto;
      font-style: normal;
      padding: 1.5rem 0 0 0;

      button {
        display: block;
        border: none;
        padding: 0;
        margin: 0 auto;
        outline: none;
        transition: transform 0.3s;

        &:focus {
          transform: scale(1.2);
        }
      }
    }
    a:hover,a:focus {
      text-decoration: underline;
    }
  }
  #social-links-footer {
    ul {
      margin: 0;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        font-size: 2rem;

        a {
          cursor: pointer;
          padding: 1rem 2rem;
          box-sizing: border-box;

          &:focus,&:hover {
            outline: none;
            i {
              transform: scale(1.3);
            }
          }
          i {
            transition: all 0.3s;
          }
        }
      }
    }
  }

  #copy {
    padding: 1rem;
    display: block;
  }
}
