@import "variables";

#landing {
  min-height: 100vh;
  max-height: 2160px;
  height: 100%;
  position: relative;

  #blog-link {
    position: absolute;
    top: 1.5rem;
    right: 0;
  }

  #landing-plain, #landing-bg-image {
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #landing-plain {
    justify-content: center;
    background-color: $primary-minus10;
    box-shadow: 3rem 0 3rem -1rem rgba($primary-plus20, 0.5), -3rem 0 3rem -1rem rgba($primary-plus20, 0.5);

    #landing-name {
      font-size: 4rem;
      margin: auto auto 2rem auto;
    }

    #landing-title {
      font-size: 3rem;
      margin: 0 auto 1rem auto;
    }

    #social-links {
      width: 100%;
      margin: 2rem auto auto auto;
      background-color: $primary-plus50;
      transition: all 0.3s;

      @media (min-width: 300px) {
        width: auto;
        border-radius: 3rem;
      }

      &:hover {
        background-color: $secondary-plus50;
        transform: scale(1.1);
        ul li {
          color: $secondary-minus20;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          display: inline-block;
          list-style: none;
          font-size: 3rem;
          color: $primary-minus20;

          a {
            cursor: pointer;

            &:focus {
              outline: none;

              i {
                transform: scale(1.2);
              }
            }

            i {
              transition: all 0.3s;
            }
          }

          &:hover a i {
            transform: scale(1.4);
            color: $secondary;
          }

          &:first-child {
            border-radius: 3rem 0 0 3rem;

            a {
              display: inline-block;
              padding: 1rem 0 1rem 2.5rem;
              border-radius: 3rem 0 0 3rem;
            }
          }

          &:last-child {
            border-radius: 0 3rem 3rem 0;
            a {
              display: inline-block;
              padding: 1rem 2.5rem 1rem 0;
              border-radius: 0 3rem 3rem 0;
            }
          }

          &:not(:first-child):not(:last-child) a {
            padding: 1rem 2.5rem;
          }
        }
      }
    }
  }

  #landing-bg-image {
    justify-content: flex-end;
    background-size: cover;
    background: black url("../assets/landing_640_426.jpg") no-repeat center;
    box-shadow: 3rem 0 3rem -1rem rgba(black, 0.5), -3rem 0 3rem -1rem rgba(black, 0.5);

    @media (min-device-width: 641px) {
      background: black url("../assets/landing_1920_1278.jpg") no-repeat center;
    }

    &>a:focus {
      outline: none;
    }

    #landing-actions {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 5rem 2rem 2rem 2rem;
      cursor: pointer;
      align-items: center;


      #scroll-down-label {
        color: $primary-minus20;
        border-radius: 3rem;
        background-color: rgba(black, 0.8);
        padding: 0;
        font-size: 2rem;
        font-weight: bold;
        box-sizing: border-box;
        height: 0;
        opacity: 0;
        overflow: hidden;

        transition: height 0.3s ease-out, padding 0.3s ease-out, opacity 0.5s ease-out;

        &.shown {
          height: 4rem;
          padding: 1rem;
          opacity: 1;
        }
      }

      .scroll-down {
        border-color: transparent;

        &.scroll-down-active {
          border-color: $primary-minus20;
        }
      }
    }
  }
}
