@import "variables";

html {
  min-height: 400px;
  height: 100%;
  width: 100%;
  font-size: 10px;
  line-height: 1;
}

body {
  height: 100%;
  padding: 0;
  font-family: "LatoWeb", sans-serif;
  min-height: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  color: $primary-plus50;
  background-color: $grey-light;
  overflow: auto;
}

a{
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  flex-grow: 1;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 375px) and (min-height: 650px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 900px) and (min-height: 650px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1600px) and (min-height: 900px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 2560px) and (min-height: 900px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 3260px) and (min-height: 1200px)  {
  html {
    font-size: 26px;
  }
}

@media (min-width: 4060px) and (min-height: 1600px) {
  html {
    font-size: 30px;
  }
}

@media (min-width: 4860px) and (min-height: 1600px) {
  html {
    font-size: 34px;
  }
}

@media (min-width: 5660px) and (min-height: 2000px) {
  html {
    font-size: 38px;
  }
}

@media (min-width: 6460px) and (min-height: 3400px) {
  html {
    font-size: 70px;
  }
}
