@import "variables";

#projects {
  color: $primary-plus50;
  background-color: $primary-minus20;
  box-shadow: 3rem 0 3rem -1rem rgba($primary-plus50, 0.5), -3rem 0 3rem -1rem rgba($primary-plus50, 0.5);
  height: 100%;
  text-align: center;
  .section-header {
    color: $primary-minus20;
    background-color: $primary-plus50;
    h1 {
      font-size: 3.5rem;
      padding: 2rem;
    }
  }

  .project-header {
    border-top: 1px solid $primary-plus50;
    border-bottom: 1px solid $primary-plus50;

    h2 {
      font-size: 2rem;
      padding: 1.5rem;

      a {
        padding: 0.5rem;

        &:hover {
          box-shadow: 0 0 5px $primary-plus50;
        }
      }
    }

    i {
      font-size: 1.5rem;
      transform: translateY(-0.15rem);
    }
  }

  .project-description {
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.15;
    text-align: justify;
  }

  .project-body {
    h3 {
      font-size: 1.5rem;
    }

    .tech-list {
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;

      &>li {
        text-align: left;
        padding: 1rem;
        border-top: 1px dotted $primary-plus50;
      }

      ul {
        display: flex;
        flex-flow: row wrap;

        li {
          font-size: 1rem;
          color: $primary-minus20;
          background-color: $primary-plus50;
          margin: 0.5rem;
          border-radius: 1rem;

          &.link {
            a {
              display: inline-block;
              padding: 0.5rem;
              border-radius: 1rem;
            }
            :hover,:focus {
              box-shadow: 0 0 1rem $primary-plus50;
              outline: none;
            }
          }

          &:not(.link) {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
