$grey-light: #eeeeee;

$primary-minus20: #D8FFFF;
$primary-minus10: #BFEBFF;
$primary: #A5D1FF;
$primary-plus10: #8CB8E6;
$primary-plus20: #729ECC;
$primary-plus30: #5985B3;
$primary-plus40: #3F6B99;
$primary-plus50: #265280;

//Green
$secondary-minus40: #FAFFFF;
$secondary-minus30: #E1FFED;
$secondary-minus20: #C7FFD3;
$secondary-minus10: #AEFFBA;
$secondary: #94FFA0;
$secondary-plus10: #7BE687;
$secondary-plus20: #61CC6D;
$secondary-plus30: #48B354;
$secondary-plus40: #2E993A;
$secondary-plus50: #158021;
$secondary-plus60: #006708;
$secondary-plus70: #004D00;

//Brownish
//$secondary-minus20: #FFFFD8;
//$secondary-minus10: #FFF8BF;
//$secondary: #FFDEA5;
//$secondary-plus10: #E6C58C;
//$secondary-plus20: #CCAB72;
//$secondary-plus30: #B39259;
//$secondary-plus40: #99783F;
//$secondary-plus50: #805F26;
