.arrow {
  height: 2.5rem;
  width: 2.5rem;
  border-top: 0.5rem solid white;
  border-right: 0.5rem solid white;
  &.arrow-right {
    transform: rotate(45deg);
  }
  &.arrow-down {
    transform: rotate(135deg);
  }
  &.arrow-left {
    transform: rotate(225deg);
  }
  &.arrow-up {
    transform: rotate(315deg);
  }
}
