@import "../variables";

.btn {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  margin: 0.5rem 2rem;
  border-radius: 3rem;
  cursor: pointer;

  &.btn-secondary {
    color: $primary-plus50;
    background-color: $primary-minus10;
    border: 0.4rem solid $primary-plus20;
    transition: color 0.3s, background-color 0.3s, border 0.3s;

    &:hover {
      color: $secondary-plus50;
      background-color: $secondary-minus10;
      border: 0.4rem solid $secondary-plus20;
    }
  }

  &.btn-primary {
    color: $primary-minus20;
    background-color: $primary-plus50;
    border: 0.4rem solid $primary;
    transition: color 0.3s, background-color 0.3s, border 0.3s;

    &:hover {
      color: $secondary-minus20;
      background-color: $secondary-plus50;
      border: 0.4rem solid $secondary;
    }
  }
}
